<div class='CardFront' style="background-color: {{color}}; padding: {{layout.bleed}}">
    <div class='CardContent'>
        <div class="Title">
            {{title}}
        </div>
        <div class="Subtitle">{{subtitle}}</div>
        <div class="StatsTable">
            {{#each stats}}
                <div class="StatCell">
                    <div class="CellContent">
                        <div class="StatsTitle" style="color: {{../color}}">
                            {{name}}
                        </div>
                        <div class="StatsValue">{{value}}</div>
                        {{#icon}}
                            <div class="StatsBadge">
                                <svg viewBox='0 0 2 2' preserveAspectRatio='none'>
                                    <path d='M0,1 1,0 2,1 1,2z' fill="{{../color}}" />
                                </svg>
                                C
                            </div>
                        {{/icon}}
                    </div>
                </div>
            {{/each}}
        </div>
        <div class="DetailsContainer">
            {{#each details}}
                {{#header}}
                    <div class="Header">{{this}}</div>
                {{/header}}
                <div class="DetailsBlock" {{#expand}}style="flex-grow: 1"{{/expand}}>
                    {{#if (isTextDetail this)}}
                        {{processText text}}
                    {{/if}}
                    {{#if (isListDetail this)}}
                        <ul>
                            {{#each items}}
                                <li>{{processText this}}</li>
                            {{/each}}
                        </ul>
                    {{/if}}
                </div>
            {{/each}}
        </div>
        <div class="CardFooter">
            <div class="Category">{{category}}</div>
            <div>SpellStudio°</div>
        </div>
    </div>
</div>
